workflows/message-handler.json
{
  "_backup": {
    "date": "2026-03-15",
    "version": 45,
    "source": "n8n MCP",
    "note": "Pre-handoff baseline — before adding agent status endpoint and handoff logic"
  },
  "id": "wnHbfZ7Djko2G4HZ",
  "name": "Chat — Message Handler",
  "active": true,
  "nodes": [
    {
      "id": "b1b2c3d4-1111-1111-1111-111111111111",
      "name": "Twilio Message Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 304],
      "webhookId": "chat-message-id",
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-message",
        "options": {}
      }
    },
    {
      "id": "b1b2c3d4-2222-2222-2222-222222222222",
      "name": "Is User Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [480, 304],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-author",
              "leftValue": "={{ $json.body.Author }}",
              "rightValue": "bot",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "code-extract",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 304],
      "parameters": {
        "jsCode": "const { body } = $input.first().json;\n\nlet messageBody = body?.Body || '';\n\n// Truncate messages over 2000 characters to prevent AI token abuse\nconst MAX_LENGTH = 2000;\nif (messageBody.length > MAX_LENGTH) {\n  messageBody = messageBody.substring(0, MAX_LENGTH);\n}\n\nreturn [{\n  json: {\n    conversationSid: body?.ConversationSid || '',\n    messageBody,\n    author: body?.Author || '',\n    messageSid: body?.MessageSid || '',\n    accountSid: body?.AccountSid || '',\n    eventType: body?.EventType || '',\n  },\n}];"
      }
    },
    {
      "id": "code-guardrails",
      "name": "Guardrails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 304],
      "parameters": {
        "jsCode": "const message = $json.messageBody || '';\n\n// Pass through system messages (e.g., welcome message trigger)\nif (message.startsWith('[system]')) {\n  return [{ json: { ...$json, safe: true, reason: '' } }];\n}\n\n// ── Prompt Injection ──────────────────────────────────────\nconst INJECTION = [\n  /ignore\\s+(all\\s+)?(previous|prior|above|earlier)\\s+(instructions|rules|prompts|guidelines)/i,\n  /disregard\\s+(all\\s+)?(previous|prior|above|your)\\s+(instructions|rules|prompts)/i,\n  /forget\\s+(all\\s+)?(previous|prior|your)\\s+(instructions|rules|context|training)/i,\n  /new\\s+(instructions|rules|prompt|directive)\\s*:/i,\n  /override\\s+(previous|all|your)\\s+(instructions|rules|settings)/i,\n  /you\\s+are\\s+now\\s+(a|an|the|my)\\s/i,\n  /from\\s+now\\s+on\\s+(you|ignore|forget|act)/i,\n  /\\[system\\]|\\[INST\\]|<\\|im_start\\|/i,\n  /\\bsystem\\s*:\\s/i,\n];\n\n// ── Jailbreak ─────────────────────────────────────────────\nconst JAILBREAK = [\n  /\\bdan\\s*mode\\b/i,\n  /\\bjailbreak\\b/i,\n  /\\bdeveloper\\s*mode\\b/i,\n  /\\bgod\\s*mode\\b/i,\n  /pretend\\s+(you|that)\\s+(have\\s+no|don't\\s+have|are\\s+not\\s+bound|are\\s+free|can\\s+do\\s+anything)/i,\n  /act\\s+(as\\s+if|like)\\s+(you\\s+)?(have\\s+no|there\\s+are\\s+no)\\s+(rules|restrictions|limitations)/i,\n  /bypass\\s+(your|all|the|any)\\s+(restrictions|rules|filters|safety|guidelines)/i,\n  /enable\\s+(unrestricted|unfiltered|uncensored)\\b/i,\n];\n\n// ── Data Extraction ───────────────────────────────────────\nconst EXTRACTION = [\n  /what\\s+are\\s+your\\s+(instructions|rules|guidelines|system\\s*prompt)/i,\n  /(show|reveal|display|print|output|repeat|tell\\s+me)\\s+(me\\s+)?(your|the)\\s+(system\\s*prompt|instructions|initial\\s*prompt|original\\s*prompt)/i,\n  /what\\s+(were\\s+you|was\\s+your)\\s+(told|instructed|programmed|trained|configured)/i,\n];\n\n// ── Abuse & Threats ───────────────────────────────────────\nconst ABUSE = [\n  /\\b(fuck\\s*you|go\\s+fuck|motherfuck|piece\\s+of\\s+shit)\\b/i,\n  /\\b(kill\\s+(yourself|yourselves)|i('ll|\\s+will)\\s+(kill|hurt|harm|attack)\\s+you)\\b/i,\n];\n\n// ── Code Injection ────────────────────────────────────────\nconst CODE_INJECTION = [\n  /<script[\\s>]/i,\n  /javascript\\s*:/i,\n  /on(load|error|click|mouseover)\\s*=/i,\n];\n\n// Run all checks\nconst checks = [\n  { patterns: INJECTION, category: 'prompt_injection' },\n  { patterns: JAILBREAK, category: 'jailbreak' },\n  { patterns: EXTRACTION, category: 'data_extraction' },\n  { patterns: ABUSE, category: 'abuse' },\n  { patterns: CODE_INJECTION, category: 'code_injection' },\n];\n\nfor (const { patterns, category } of checks) {\n  for (const pattern of patterns) {\n    if (pattern.test(message)) {\n      return [{ json: { ...$json, safe: false, reason: category } }];\n    }\n  }\n}\n\nreturn [{ json: { ...$json, safe: true, reason: '' } }];"
      }
    },
    {
      "id": "if-safe",
      "name": "Is Safe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1200, 304],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-safe",
              "leftValue": "={{ $json.safe }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "code-route",
      "name": "Route to Client",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 304],
      "parameters": {
        "jsCode": "// ── Client routing table ───────────────────────────────────\n// Add new clients here. Each entry maps to an AI webhook.\nconst ROUTING = {\n  digishares: {\n    webhookUrl: '__AI_WEBHOOK_URL_DIGISHARES__',\n    authToken: '__AI_AUTH_TOKEN_DIGISHARES__',\n  },\n  alkoholcz: {\n    webhookUrl: '__AI_WEBHOOK_URL_ALKOHOLCZ__',\n    authToken: '__AI_AUTH_TOKEN_ALKOHOLCZ__',\n  },\n};\n\n// Parse client_id from author identity: 'digishares_user_xxx' → 'digishares'\n// Backwards compat: 'user_xxx' (no prefix) → 'digishares'\nconst author = $json.author || '';\nconst clientId = author.includes('_user_')\n  ? author.split('_user_')[0]\n  : 'digishares';\n\nconst route = ROUTING[clientId];\n\nif (!route) {\n  // Unknown client — drop silently (don't crash the workflow)\n  return [];\n}\n\nreturn [{ json: { ...$json, clientId, webhookUrl: route.webhookUrl, authToken: route.authToken } }];"
      }
    },
    {
      "id": "http-ai-webhook",
      "name": "Call AI Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 304],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"conversationSid\": \"{{ $json.conversationSid }}\",\n  \"message\": \"{{ $json.messageBody }}\",\n  \"author\": \"{{ $json.author }}\",\n  \"messageSid\": \"{{ $json.messageSid }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "__CREDENTIAL_ID__",
          "name": "__CREDENTIAL_NAME__"
        }
      }
    },
    {
      "id": "code-prepare-reply",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 304],
      "parameters": {
        "jsCode": "const aiResponse = $json;\nconst conversationSid = $('Extract Message Data').first().json.conversationSid;\n\n// The client AI webhook should return a reply field\n// Supports: { reply: '...' } or { message: '...' } or { output: '...' } or plain text\nlet botReply = aiResponse.reply || aiResponse.message || aiResponse.output || aiResponse.text || '';\n\n// If response is a string at top level, use it directly\nif (!botReply && typeof aiResponse === 'string') {\n  botReply = aiResponse;\n}\n\nif (!botReply) {\n  botReply = 'Sorry, I could not generate a response.';\n}\n\nreturn [{\n  json: { conversationSid, botReply },\n}];"
      }
    },
    {
      "id": "code-safe-reply",
      "name": "Prepare Safe Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 520],
      "parameters": {
        "jsCode": "const conversationSid = $json.conversationSid;\nconst reason = $json.reason || 'policy';\n\nconst botReply = \"I'm here to help you with your questions. Could you please rephrase your message?\";\n\nreturn [{ json: { conversationSid, botReply } }];"
      }
    },
    {
      "id": "http-reply-1",
      "name": "Send Reply to Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 400],
      "parameters": {
        "method": "POST",
        "url": "=https://conversations.dublin.ie1.twilio.com/v1/Services/__SERVICE_SID__/Conversations/{{ $json.conversationSid }}/Messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "__TWILIO_BASIC_AUTH__"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Author",
              "value": "bot"
            },
            {
              "name": "Body",
              "value": "={{ $json.botReply }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Twilio Message Webhook": {
      "main": [[{"node": "Is User Message?", "type": "main", "index": 0}]]
    },
    "Is User Message?": {
      "main": [[{"node": "Extract Message Data", "type": "main", "index": 0}]]
    },
    "Extract Message Data": {
      "main": [[{"node": "Guardrails", "type": "main", "index": 0}]]
    },
    "Guardrails": {
      "main": [[{"node": "Is Safe?", "type": "main", "index": 0}]]
    },
    "Is Safe?": {
      "main": [
        [{"node": "Route to Client", "type": "main", "index": 0}],
        [{"node": "Prepare Safe Reply", "type": "main", "index": 0}]
      ]
    },
    "Route to Client": {
      "main": [[{"node": "Call AI Webhook", "type": "main", "index": 0}]]
    },
    "Call AI Webhook": {
      "main": [[{"node": "Prepare Reply", "type": "main", "index": 0}]]
    },
    "Prepare Reply": {
      "main": [[{"node": "Send Reply to Twilio", "type": "main", "index": 0}]]
    },
    "Prepare Safe Reply": {
      "main": [[{"node": "Send Reply to Twilio", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
