workflows/post-conv-analysis.json
{
  "_backup": {
    "date": "2026-06-30",
    "version": "v1.0 — post-conv dispatcher created (go-live)",
    "source": "n8n MCP",
    "note": "Dispatcher for post-conversation analysis. Called by Message Handler's Run Post-Conv (Execute Workflow). Parses client_id from FriendlyName, fetches transcript, fans out per-client via ANALYSIS_ROUTING (all empty in V1 → clean skip). Consumer contract: HANDOVER-postpro-brain-2026-06-30.md.",
    "redacted_placeholders": {
      "__TWILIO_BASIC_AUTH__": "Twilio Basic auth header: base64(API_KEY_SID:API_KEY_SECRET) — Fetch Conversation + Fetch Transcript nodes",
      "__CREDENTIAL_ID__": "GlobalChatbot httpHeaderAuth credential id (Send to Analysis Webhook node)",
      "__CREDENTIAL_NAME__": "GlobalChatbot"
    }
  },
  "id": "V7lNIBygIteHXAl4",
  "name": "Chat — Post-Conversation Analysis",
  "active": true,
  "nodes": [
    {
      "id": "trg",
      "name": "When Called by Message Handler",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": { "inputSource": "passthrough" }
    },
    {
      "id": "if-closed",
      "name": "Is Closed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [220, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "c-closed", "leftValue": "={{ $json.StateTo }}", "rightValue": "closed", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fetch-conv",
      "name": "Fetch Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://conversations.dublin.ie1.twilio.com/v1/Services/{{ $json.ChatServiceSid }}/Conversations/{{ $json.ConversationSid }}",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "__TWILIO_BASIC_AUTH__" } ] },
        "options": { "timeout": 10000 }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "fetch-msgs",
      "name": "Fetch Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://conversations.dublin.ie1.twilio.com/v1/Services/{{ $json.chat_service_sid }}/Conversations/{{ $json.sid }}/Messages?PageSize=100&Order=asc",
        "authentication": "none",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": { "parameters": [ { "name": "Authorization", "value": "__TWILIO_BASIC_AUTH__" } ] },
        "options": { "timeout": 10000 }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "format-route",
      "name": "Format & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Build the transcript envelope + look up the per-client analysis URL.\nconst ev = $('Is Closed?').first().json;        // original state event\nconst conv = $('Fetch Conversation').first().json; // conversation resource\nconst msgs = $json.messages || [];                 // from Fetch Transcript\n\n// Parse client_id from FriendlyName: chat_{clientId}_user_..._{ts}\nconst fn = conv.friendly_name || '';\nconst afterChat = fn.startsWith('chat_') ? fn.slice(5) : fn;\nlet clientId = 'digishares';\nif (afterChat.includes('_user_')) {\n  const before = afterChat.split('_user_')[0];\n  if (before) clientId = before;\n}\n\n// Empty conversation -> nothing to analyse, drop.\nif (msgs.length === 0) return [];\n\n// ── Per-client analysis routing (mirror of Message Handler ROUTING) ──\n// Empty webhookUrl = no postpro brain yet -> skip.\nconst ANALYSIS_ROUTING = {\n  digishares: { webhookUrl: '' },\n  alkoholcz:  { webhookUrl: '' },\n  pompo:      { webhookUrl: '' },\n  atlaschat:  { webhookUrl: '' },\n  ladenta:    { webhookUrl: '' },\n};\nconst route = ANALYSIS_ROUTING[clientId];\nconst analysisWebhookUrl = (route && route.webhookUrl) ? route.webhookUrl : '';\n\nconst CZ = ['alkoholcz', 'pompo', 'ladenta'];\nconst payload = {\n  conversation_sid: ev.ConversationSid,\n  client_id: clientId,\n  reason: ev.Reason || '',\n  state_from: ev.StateFrom || '',\n  locale: CZ.includes(clientId) ? 'cs' : 'en',\n  started_at: conv.date_created || '',\n  ended_at: ev.StateUpdated || '',\n  message_count: msgs.length,\n  transcript: msgs.map(m => ({ author: m.author, body: m.body, timestamp: m.date_created })),\n};\n\nreturn [{ json: { ...payload, analysisWebhookUrl, routing_status: analysisWebhookUrl ? 'routed' : 'skipped_no_url' } }];"
      }
    },
    {
      "id": "has-route",
      "name": "Has Route?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1100, 200],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "id": "c-url", "leftValue": "={{ $json.analysisWebhookUrl }}", "rightValue": "", "operator": { "type": "string", "operation": "isNotEmpty", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "send-analysis",
      "name": "Send to Analysis Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.analysisWebhookUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ conversation_sid: $json.conversation_sid, client_id: $json.client_id, reason: $json.reason, state_from: $json.state_from, locale: $json.locale, started_at: $json.started_at, ended_at: $json.ended_at, message_count: $json.message_count, transcript: $json.transcript }) }}",
        "options": { "timeout": 30000 }
      },
      "credentials": { "httpHeaderAuth": { "id": "__CREDENTIAL_ID__", "name": "__CREDENTIAL_NAME__" } },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "When Called by Message Handler": { "main": [[{"node": "Is Closed?", "type": "main", "index": 0}]] },
    "Is Closed?": { "main": [[{"node": "Fetch Conversation", "type": "main", "index": 0}]] },
    "Fetch Conversation": { "main": [[{"node": "Fetch Transcript", "type": "main", "index": 0}]] },
    "Fetch Transcript": { "main": [[{"node": "Format & Route", "type": "main", "index": 0}]] },
    "Format & Route": { "main": [[{"node": "Has Route?", "type": "main", "index": 0}]] },
    "Has Route?": { "main": [[{"node": "Send to Analysis Webhook", "type": "main", "index": 0}]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
